{% extends "app.html" %}
{% block content %}

        <h1>Anagram solver</h1>
        <p class="lead">An <a href="http://en.wikipedia.org/wiki/Anagram">Anagram</a> is a type of word play, the result of rearranging the letters of a word or phrase to produce a new word or phrase, using all the original letters exactly once [Wikipedia]

	  <form  method="post">
	    <input name="word" placeholder="Word" />
	    <input class="btn btn-lg btn-success" type="submit" value="Anagram Solver" />
	  </form>

	</p>

	{% if words %}
	Anagrams:<br /><br />
	<table>
	  {% for word in words %}
	  <tr>
	    <td>{{ word }}</td>
	  </tr>
	  {% endfor %}
	</table>

	{% endif %}

        <br />
	<p>You can develop by yourself a program for generating anagrams: see anagram source codes at <a href="http://rosettacode.org/wiki/Anagrams">RosettaCode.org</a> </p>
{% endblock %}
